<div class="row">
  <div class="col-md-12">

    <div>
      <span>Nova estrategia</span>
    </div>

    <br>

  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <label for="estrategia-name">Nome da estratégia</label>
      <input type="text" class="form-control" id="estrategia-name" placeholder="Nome da estratégia">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3">

    <label>Segmento:</label>

    <div class="checkbox">
      <label>
        <input type="checkbox" value="1"> Novos negócios
      </label>
      <br>
      <label>
        <input type="checkbox" value="2"> Colchão
      </label>
      <br>
      <label>
        <input type="checkbox" value="3"> Em acordo
      </label>
    </div>

  </div>

  <div class="col-md-3">

    <label>Score:</label>

    <div class="checkbox">
      <label>
        <input type="checkbox" value="1"> 1
      </label>
      <br>
      <label>
        <input type="checkbox" value="2"> 2
      </label>
      <br>
      <label>
        <input type="checkbox" value="3"> 3
      </label>
      <br>
      <label>
        <input type="checkbox" value="4"> 4
      </label>
      <br>
      <label>
        <input type="checkbox" value="5"> 5
      </label>
    </div>

  </div>

  <div class="row">
    <div class="col-md-6">

      <label>Produtos:</label>

      <div class="checkbox">
        <label>
          <input type="checkbox" value="1"> Cartão
        </label>
        <br>
        <label>
          <input type="checkbox" value="2"> CDC
        </label>
        <br>
        <label>
          <input type="checkbox" value="3"> Emprestimo
        </label>
      </div>

    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-6">
      <label>Faixa de atraso:</label>

      <div class="form-inline">
        <div class="form-group">
          <label for="faixa-atraso-de">de</label>
          <input type="date" class="form-control" id="aixa-atraso-de">

          <label for="aixa-atraso-ate">até</label>
          <input type="date" class="form-control" id="aixa-atraso-ate">
        </div>
      </div>
    </div>
    <div class="col-md-6">

      <label>Faixa etária</label>

      <div class="form-inline">
        <div class="form-group">
          <label for="faixa-etaria-de">de</label>
          <input type="number" class="form-control" id="faixa-etaria-de">

          <label for="faixa-etaria-ate">até</label>
          <input type="number" class="form-control" id="faixa-etaria-ate">
        </div>
      </div>
    </div>
  </div>

  <br>




</div>

<hr>

<div>
  <button class="btn btn-primary" type="button">Salvar</button>
</div>