#selecione-cliente {
    text-align: right;
}

.img-deep {
    width: 300px;
}

.img-logos {
    width: 100px;
    margin-right: 10px;
    margin-top: 20px;
}

.bloco-logos {
    display: inline-block;
}